<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/../css/car.css' type='text/css' media='all'>
    <title>Cars!!</title>
</head>
<body>
<div class="container">
  <h1>Welcome to our car buyer and seller site!</h1>
  <h2>Buyers</h2>
  <h3>Please fill out the specifications of the car you'd like to buy:</h3>
    <form action='/buyer_results'>
        <div class='form-group'>
          <label for='price'>Enter your max price: $</label>
          <input id='price' name='price' class='form-control' type='number'>
        </div>
        <div class='form-group'>
          <label for='miles'>Enter your desired mileage</label>
          <input id='miles' name='miles' class='form-control' type='number'>
        </div>
        <button type='submit' class='btn-danger'>Search now!</button>
    </form>
  <h2>Sellers</h2>
  <h3>Tell us about your car:</h3>
    <form action='seller_results'>
        <div class="form-group">
          <label for='make'>What is the make and model of your car?</label>
          <input id='make' name='miles' class='form-control' type='text'>
        </div>
        <div class="form-group">
          <label for='miles'>What is your car mileage?</label>
          <input id='miles' name='miles' class='form-control' type='number'>
        </div>
        <div class="form-group">
          <label for='price'>What is your asking price?</label>
          <input id='price' name='price' class='form-control' type='number'>
        </div>
        <div class="form-group">
          <label for='image'>Please paste a URL for an image of your car:</label>
          <input id='image' name='image' class='form-control' type='text'>
        </div>
        <button type="submit" class='btn-danger'>Sell now!</button>
      </form>
</div>
</body>
</html>
