<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='car.css' type='text/css' media='all'>
      <title>Car Specs</title>
  </head>
  <body>
    <div class="container">
        <h1>Here are the specs of the car you'd like to sell:</h1>
        {% if cars is not empty %}
            <p>Car Details:</p>
            <ul>
              {% for cars in car %}
                <li>Type:{{ car.getModel }}</li>
                <li><img src= {{ car.getPhoto }}></li>
                <li>Miles: {{ car.getMileage }}</li>
                <li>Price: ${{ car.getCost }}</li>
              {% endfor %}
            </ul>
        {% endif %}
    </div>
  </body>
</html>
